@font-face {
  font-family: karmatic-arcade;
  src: url("/ka1.ttf");
}

@font-face {
  font-family: origami-mommy;
  src: url("/origap__.ttf");
}


* {
  font-family : arial, sans-serif;
}

h1 {
  font-family : karmatic-arcade;
  font-weight: normal;
}

p {
  font-family : origami-mommy;
}