@font-face {
  font-family: fredypix;
  src: url("/fredypix.ttf"), url("../fredypix.ttf");
}

.outline-black {
	filter: 
    drop-shadow(0.0em -0.08333em 0px #000) 
    drop-shadow(0.0em 0.08333em 0px #000) 
    drop-shadow(-0.08333em 0.0em 0px #000)
    drop-shadow(0.08333em 0.0em 0px #000)
    drop-shadow(0.08333em 0.08333em 0px #000);
}

@font-face {
  font-family: kenney-mini;
  src: url("/Kenney Mini.ttf"), url("../Kenney Mini.ttf");
}


* {
  font-family : arial, sans-serif;
  letter-spacing: calc(1em / 12 * 0.012);
}

h1 {
  font-family : fredypix, arial;
  font-weight: normal;
  font-size: 36px;
  color: white;
}

p {
  font-family : fredypix, arial;
  font-size: 12px;
}

body {
  margin: 200px;
  background: url("/background.png"), url("../background.png") #24e8f4;
  background-repeat: repeat-x;
  background-position-y: bottom;
}
